@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-sans;
}

/* Custom text gradient class */
.text-gradient {
  background: linear-gradient(45deg, #6f48fc, #d07ef6, #56c6e7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.shadow {
  background: url(../src/assets/shadow.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.shadow1 {
  background: url(../src/assets/Shadow-bg/Purple.png);
  background-repeat: no-repeat;
  background-size: contain;
}
.shadow2 {
  background: url(../src/assets/Shadow-bg/Blue.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
}
